<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Recipe</title>
    <link rel="stylesheet" href="admin.css"> 
</head>
<body>
    <div class="card">
        <div class="card-header">
            <p class="h4 mb-2 text-center">Add Recipe</p>
        </div>
        <div class="card-body">
            <form class="text-center border border-light p-5" method="post" action="save_recipe" enctype="multipart/form-data">
    
                <!-- Recipe ID -->
                <input type="number" name="id" id="id" class="form-control mb-4" placeholder="Recipe ID">
    
                <!-- Recipe Name -->
                <input type="text" name="name" id="name" class="form-control mb-4" placeholder="Recipe Name">
    
                <!-- Recipe Description -->
                <textarea class="form-control mb-4" id="desc" name="desc" placeholder="Recipe Description">Recipe Description</textarea>

                <!-- Recipe Preparation -->
                <textarea class="form-control mb-4" id="prep" name="prep" placeholder="Recipe Preparation">Recipe Preparation</textarea>

                <!-- Recipe Image -->
                <div class="custom-file mb-4">
                    <input type="file" name="image" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Recipe Image</label>
                </div>

                <!-- Add Button -->
                <button class="btn btn-info btn-block" type="submit">Add</button>
            </form>
        </div>
    </div>
</body>
</html>
