<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Recipe</title>
    <link rel="stylesheet" href="listrecipe.css"> 
</head>
<div class="col-12">
			
			
    <h3 class="text-center">list of products</h3>
    <hr>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">image</th>
                <th scope="col">name</th>
                <th scope="col">description</th>
               
                <th scope="col">Preparation</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="recipeitem : ${recipeList}">
                <th scope="row"><img alt="" th:src="*{'data:image/jpeg;base64,'+{recipeitem.image}}" style="width: 100px;height: 100px;"></th>
                <td>[[*{product.name}]] 
                <!-- Button trigger modal --> <br>
                    <button type="button" class="btn btn-success btn-sm mt-2"
                        data-toggle="modal"
                        th:attr="data-target='#exampleModalCenter'+*{recipeitem.id}">change
                        name</button> <!-- Modal -->

                    <div class="modal fade"
                        th:id="*{'exampleModalCenter'+{recipeitem.id}}" tabindex="-1"
                        role="dialog" aria-labelledby="exampleModalCenterTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">change
                                        product name</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/changeName" method="post">
                                        <div class="form-group">
                                            <label>product id</label> <input type="hidden"
                                                th:value="*{recipeitem.id}" class="form-control" name="id">
                                            <label>new Product name</label> <input type="text"
                                                name="newPname" class="form-control"> <br>
                                            <button type="submit" class="btn btn-primary">submit</button>
                                        </div>
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>

                </td>
                <td>[[*{product.description}]] <!-- Button trigger modal -->
                    <br>
                    <button type="button" class="btn btn-success btn-sm mt-2"
                        data-toggle="modal"
                        th:attr="data-target='#exampleModalCenterDesc'+${recipeitem.id}">change
                        description</button> <!-- Modal -->
                    <div class="modal fade"
                        th:id="*{'exampleModalCenterDesc'+{recipeitem.id}}" tabindex="-1"
                        role="dialog" aria-labelledby="exampleModalCenterTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">change
                                        product description</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form action="/changeDescription" method="post">
                                        <div class="form-group">
                                            <label>product id</label> <input type="text"
                                                th:value="*{recipeitem.id}" class="form-control" name="id">
                                            <label>new Product description</label> <input type="text"
                                                name="newDescription" class="form-control"> <br>
                                            <button type="submit" class="btn btn-primary">submit</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>[[*{product.price}]] <!-- Button trigger modal --> <br>
                    <button type="button" class="btn btn-success btn-sm mt-2"
                        data-toggle="modal"
                        th:attr="data-target='#exampleModalCenterPrice'+${product.id}">change
                        price</button> <!-- Modal -->
                    <div class="modal fade"
                        th:id="*{'exampleModalCenterPrice'+{recipeitem.id}}" tabindex="-1"
                        role="dialog" aria-labelledby="exampleModalCenterTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">change
                                        product price</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form action="/changePrice" method="post">
                                        <div class="form-group">
                                            <label>product id</label> <input type="text"
                                                th:value="*{recipeitem.id}" class="form-control" name="id">
                                            <label>new Product price</label> <input type="text"
                                                name="newPrice" class="form-control"> <br>
                                            <button type="submit" class="btn btn-primary">submit</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save
                                        changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td><a th:href="@{/deleteProd/{id}(id=${product.id})}"
                    class="btn btn-danger mt-4">delete</a></td>
            </tr>
        </tbody>
    </table>
    <hr>
</div>
</body>
</html>