<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Recipe List</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Online Recipe Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/recipes}">Recipe Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Student Management</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="row">
        <h1>List Recipes</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/recipes/new}" class="btn btn-primary btn-sm mb-3">Add Recipe</a>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Recipe Name</th>
                <th>Description</th>
                <th>Preparation</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>image, recipe_id, recipe_name, recipe_description, recipe_preparation);
        <tbody>
            <tr th:each="recipe : ${recipeItems}">
                <td th:text="${recipe.recipe_id}"></td>
                <td th:text="${recipe.recipe_name}"></td>
                <td th:text="${recipe.recipe_description}"></td>
                <td th:text="${recipe.recipe_preparation}"></td>
                <!-- <td><img th:src="'data:image/jpeg;base64,' + ${recipe.image}" style="width: 100px; height: 100px;"/></td>
                <td>
                    <a th:href="@{/recipes/edit/{id}(id=${recipe.id})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/recipes/{id}(id=${recipe.id})}" class="btn btn-danger">Delete</a>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
